* {
    bg0:     #0d0e17;
    bg1:     #1a1b26;
    bg2:     #24283b;
    bg3:     #414868;
    fg0:     #c0caf5;
    fg1:     #a9b1d6;
    fg2:     #737aa2;
    blue:    #7aa2f7;
    red:     #f7768e;

    font:             "Victor Mono Medium 12";
    background-color: transparent;
    text-color:       @fg0;
    margin:           0px;
    padding:          0px;
    spacing:          0px;
}

window {
    location:         center;
    width:            600px;
    border-radius:    14px;
    background-color: @bg1;
    border:           2px solid;
    border-color:     @blue;
}

mainbox {
    padding:  14px;
    spacing:  10px;
}

inputbar {
    background-color: @bg0;
    border:           0px 0px 1px 0px solid;
    border-color:     @bg3;
    border-radius:    8px 8px 0px 0px;
    padding:          12px 16px;
    spacing:          10px;
    children:         [ icon-search, entry ];
}

icon-search {
    expand:         false;
    filename:       "search-symbolic";
    size:           16px;
    vertical-align: 0.5;
    text-color:     @blue;
}

entry {
    placeholder:       "Rechercher une application...";
    placeholder-color: @fg2;
    text-color:        @fg0;
    vertical-align:    0.5;
    font:              "Victor Mono 12";
}

listview {
    background-color: transparent;
    lines:            8;
    columns:          1;
    scrollbar:        false;
    spacing:          2px;
    padding:          6px 0px;
    fixed-height:     false;
}

element {
    padding:          9px 14px;
    spacing:          12px;
    border-radius:    8px;
    background-color: transparent;
}

element normal normal {
    background-color: transparent;
    text-color:       @fg0;
}

element alternate normal {
    background-color: transparent;
    text-color:       @fg0;
}

element selected normal {
    background-color: @bg2;
    text-color:       #ffffff;
    border:           0px 0px 0px 3px solid;
    border-color:     @blue;
}

element-icon {
    size:           1.4em;
    vertical-align: 0.5;
}

element-text {
    text-color:     inherit;
    vertical-align: 0.5;
    font:           "Victor Mono Medium 12";
}
